*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Dancing+Script:wght@400;500;600 & display=swap');
body{
    background-image: url(./anime-scenery-wallpaper-hd-background-desktop-anime-scenery-wallpaper-1232620286.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid black;
    box-shadow: solid 5px gray;
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    height: 70%;
    max-height: 90%;
    width: 40%;
    max-width: 50%;

}
img{
    margin-left: 250px;
}
.lista{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-bar{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
a:link, a:visited, a:active {
    text-decoration:none;
}
ul li:hover{
    background-color: rgba(0, 0, 0, 0.199);
    transition: 1.5s;
    

}
ul li:active:visited{
color:rgb(13, 46, 88);
box-shadow: solid 3px gray;
}
a{
    font-size: 25px;
    color: black;
    text-shadow: 3px gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color: red;
    text-shadow: 2px solid black;
}
.contenedor-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenido{
    background-color: rgba(245, 245, 220, 0.164);
    height: 800px;
    width: 60%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:baseline;
    padding: 50px;
    margin: 20px 0px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}
.contenido:hover{
    background-color: rgba(158, 4, 4, 0.219);
}
.contenido h2{
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    box-shadow: solid 5px grey;
    font-size: 45px;
    margin-right: 100px;
}
.contenido h2:hover{
    font-size: 40px;
    color: red;
    background-color: rgba(158, 4, 4, 0.219);
}
.IMAGEN{
    margin-top: 30px;
    margin-right: 38%;
}
.IMAGEN:hover{
    transform: scaleY(1.2);
    transform: skewX(3);
}

.contenido p{
    font-size: 30px;
    color: red;
    background-color:rgba(0, 0, 0, 0.788) ;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.contenido p:hover{
    color: darkred;
    background-color: whitesmoke;
    transition: 2s;
}
h3{
    font-size: 35px;
    color: red;
    background-color: rgba(0, 0, 0, 0.788);
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-right:380px;
}
h3:hover{
    color: darkred;
    background-color: whitesmoke;
    transition: 2s;
}
h4{
    font-size: 30px;
    color: red;
    background-color: rgba(0, 0, 0, 0.788);
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-right: 20px;
}
.contenido h4:hover{
    color: darkred;
    background-color: whitesmoke;
    transition: 2s;
}
.botones{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.788);
    width: 100%;
    height: 100px;
    margin-top: 20px;

}
.btn{
    width: 200px;
    background-color: red;
    border-style: none;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px ;
    text-align: center;
    border: 4px solid black;
}
@keyframes UNA_MAGIA{

}
.btn:hover{
    width: 210px;
    height: 105px;
    background-color: whitesmoke;
    transition: 2s;
    text-shadow: 5px gray;
    text-align: center center;
    text-overflow: ellipsis;
    

}
.certificado{
    margin-top: 25px;
    margin-right: 38%;
    animation-name: un_efecto;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes un_efecto{
    0% {
        width: 200px;
    }
    25% {
        width: 350px;
    }
    50% {
        width: 300px;
    }
    
}
.container-saludo{
    width: 100%;
    max-width: 1200px;
}
.info-juan{
    width: 80%;
    margin: auto;
    max-width: 1500px;
    height: 250px;
    border: 3px red solid;
    border-radius: 50px ;
    background-color:black ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.saludo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 3px solid black;
}
.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 3px solid black;
}
.saludo:hover{
    color: red;
    transition: 2s;
}
.intro:hover{
    color: red;
    background-color: black;
    transition: 2s;
}
.info-juan:hover{
    background-color: rgba(17, 16, 16, 0.815);
}
.contenedor-article{
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagen{
    background-image: url(./responsive.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    border: 3px solid rgba(0, 0, 0, 0.623);
    width: 50%;
    box-shadow: 2px solid ghostwhite;
    height: 100%;
}
.responsive{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    
    
}
.responsive:hover{
    background-color:rgba(134, 34, 4, 0.692) ;
    transition: 2s;
    box-shadow: 3px white;
}
.responsive h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.responsive h4:hover{
    color: red;
    transition: 2s;
    text-shadow: solid 3px white;
}
.responsive h5{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.responsive h5:hover{
    background-color:rgba(0, 0, 0, 0.788) ;
    color: red;
    transition: 2s;
    text-shadow: solid 3px white;
}
.beneficios{
    background-color:rgba(0, 0, 0, 0.788) ;
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.beneficios:hover{
    background-color: black;
    transition: 2s;

}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color:rgba(0, 0, 0, 0.788) ;
    width: 30%;
    border: 2px solid black;

}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color:rgba(0, 0, 0, 0.788);
width: 30%;
border: 2px solid black;
}
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.788);
width: 30%;
border: 2px solid black;
}
.img-card1{
    margin-top: 20px;
    margin-right: 250px;
}
.img-card1:hover{
    transform: translate(20px,10px)
}

p{
    color: white;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p:hover{
    color: red;
    background-color: rgba(134, 34, 4, 0.692);
}
.img-card2{
    margin-top: 20px;
    margin-right:250px ;
}
.img-card2:hover{
    transform: translate(20px,10px)
}
.ima-card-3{
    margin-right: 250px;
}
.ima-card-3:hover{
    transform: translate(20px,10px)
}
.container-herramientas{
    width: 100%;
    display: flex;
    
}
.herramientas{
    border: 5px solid grey;
    background-position:center;
    height: 500px;
    background-image: url(./espacialsection.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch;
    
}
.foto{
    width: 150px;
    height: 150px;
}
.foto:hover{
    transform: scale(2,1);
    transition: 5s;
    
}
.algunos-trabajos{
    background-image:url(./fondonote2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.titulos{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.port{
    margin-top: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.582);
    border: 5px solid black;
    font-size: 70px;
}
.tp{
    margin-top: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.582);
    border: 5px solid black;
    font-size: 50px;
}
.tarjetas{
    display: flex;
    justify-content: space-around;
    width: 1600px;
    height: 300px;
    margin-top: 60px;
    margin-left: 150px;
}
.tarjeta{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 170, 169, 0.521);
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}
.tarjeta:hover{
    background-color: rgba(255, 0, 0, 0.582);
}
.tarj-{
    margin-bottom: 40px;
    margin-right: 250px;
}
.tarj-:hover{
    transform: translate(10px,20px);
}
.tarjeta a{
    font-size: 50px;
}
.tarjeta a:hover{
    color: white;
    transition: 2s;
    background-color: rgba(0, 0, 0, 0.411);
}
.contenedor-footer{
    width: 60%;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.575);
    margin: auto;
    border-radius: 50px;
    box-shadow: 3px solid  rgb(247, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contenedor-footer:hover{
    background-color: rgba(235, 241, 247, 0.096);
}
.h2-footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
footer{
    background-color: rgb(10, 10, 10);
}
.contenedor-iconos{
    width: 100%;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content:stretch;
    align-items:stretch;

}
.a-iconos{
width: 60px;
height: 60px;
margin-left: 30px;
margin-top: 20px;
}
.parrafo-footer{
    margin-bottom: 30px;
    font-size: 18px;
    color: rgb(13, 13, 14);
}
figure p:hover{
    color: rgb(95, 0, 0);
    transition: 2s;
}
.contendor-logo-footer{
    width: 100px;
    height: 100px;
    margin-right: 500px;
}
.iconos-footer:hover{
    transform: scale(2,2);
    transition: 2s;
}